(function (factory) {
  if (typeof define === 'function' && define.amd) {
    define([%= amdDeps %], factory);
  } else if (typeof exports === 'object') {
    module.exports = factory(%= cjsDeps %);
  } else {
    <%= exports %> = factory(%= globalDeps %);
  }
})(function (%= depNames %) {%= file.program.body %});
